
.award-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.award-buttons {
  margin: 20px;
}

table, th, td {
  border: 1px solid rgba(103, 113, 150, 0.575);
  border-radius: 0px;
  border-collapse: none;
}

thead, th {
  color: var(--bg-color);
  background-color: var(--text-color);
}

tr:nth-child(even) {
  color: var(--panel-text-color);
  background-color: var(--panel-bg-color);
}

tr:nth-child(odd) {
  color: var(--panel-text-color);
  background-color: rgb(from var(--panel-bg-color) r g b / 0.5)
}

td {
  user-select: none;
}

.award-td:first-child {
  width: 15em;
}

.award-details {
  cursor: pointer;
}

.award-td {
  text-align: center;
}
