
.award-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.award-buttons {
  margin: 20px;
}

.award-table, .award-th, .award-td {
  border: 1px solid #6e6e6e;
  border-collapse: collapse;
}

.award-thead, .award-th {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.award-tr:nth-child(even) {
  color: var(--panel-text-color);
  background-color: var(--panel-bg-color);
}

.award-tr:nth-child(odd) {
  color: var(--panel-text-color);
  background-color: rgb(from var(--panel-bg-color) r g b / 0.5)
}

.award-checkbox {
  transform: scale(4) translateX(7.5px);
}

.award-details {
  cursor: pointer;
}
