.award-checkbox {
  display: none;
}
.award-checkbox+.award-checkbox-label:before {
  content: '☐';
  font-size: 1.5vw;
}
.award-checkbox:checked+.award-checkbox-label:before {
  content: '✅';
  font-size: 1.5vw;
}
.bullet-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.award-name-btn:hover {
  color: var(--accent-color-1);
}