/* todo:
 - remove width, it's just for scaffolding

*/

.home-page {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.home-sub-page {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.award-winning-bullets {
  background-color: #101725;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  width: 500px;
}

.my-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 290px;
}

.add-a-quick-action {
  display: flex;
  flex-direction: column;
  background-color: #101725;
}

.upcoming-awards {
  background-color: #101725;
  text-align: center;
  width: 250px;
  margin: 20px;
}

.award-card {
  background-color: #101725;
}

.award-card,
.bullet-card,
.my-bullets {
  color: #b67ef0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.award-card:hover,
.bullet-card:hover,
.my-bullets-link:hover {
  transform: scale(1.1);
}

.test-img {
  margin: 20px;
  width: 128px;
  height: 128px;
}
