.subordinates-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.subordinates-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

.subordinate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1;
}

.subordinate-title {
  font-weight: bold;
  font-size: 16px;
  color: #222;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

.subordinate-name {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.subordinate-rank {
  font-size: 14px;
  color: #666;
  text-align: center;
}

.subordinate-awards-nominated {
  font-size: 14px;
  color: #333;
  text-align: center;
}

.subordinate-ready-for-review {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subordinate-checkbox {
  transform: scale(3);
  cursor: pointer;
  margin-top: 5px;
  height: 25px;
}

.subordinate-item-name-rank {
  margin-bottom: -15px;
}

a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the underline */
}

/* Optional: Add hover effect for links */
a:hover {
  color: #007bff; /* Change to a desired color on hover */
  text-decoration: underline; /* Add underline on hover if desired */
}