.subordinates-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.subordinates-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: var(--panel-bg-color);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid rgba(103, 113, 150, 0.575);
}

.subordinate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1;
}

.subordinate-title {
  font-weight: bold;
  font-size: 16px;
  color: var(--panel-text-color);
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

.subordinate-name {
  font-size: 16px;
  color: var(--panel-text-color);
  text-align: center;
  margin-right: 180px;
  margin-left: 80px;
}

.subordinate-rank {
  font-size: 14px;
  color: var(--panel-text-color);
  text-align: center;
  margin-right: 100px
}

.subordinate-awards-nominated {
  font-size: 14px;
  color: var(--panel-text-color);
  text-align: center;
  margin: 14px;
}

.subordinate-ready-for-review {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subordinate-checkbox {
  transform: scale(3);
  cursor: pointer;
  margin-top: 5px;
  height: 25px;
}

.subordinate-item-name-rank {
  margin-bottom: -15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

.subordinate-checkbox {
  display: none;
}

.subordinate-checkbox+.subordinate-checkbox-label:before {
  content: '☐';
  font-size: 2.5vw;
}

.subordinate-checkbox:checked+.subordinate-checkbox-label:before {
  content: '✅';
  font-size: 2vw;
}

.subordinates-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}

.subordinate-header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #681eb8;
  border-radius: 8px;
  text-align: center;
}

.subordinate-header p {
  flex: 1;
  text-align: center;
}

.subordinate-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--panel-bg-color);
  border: 1px solid rgba(103, 113, 150, 0.76);
  border-radius: 8px;
}

.subordinate-awards-wrapper,
.subordinate-review-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
