.bullet-edit-fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-field {
  flex: 1 1 30%;
  min-width: 150px;
}

.edit-field input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-edit, .btn-done, .btn-copy, .btn-delete {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

td {
  padding-left: 0.3em;
  padding-right: 0.25em;
}

.bullet-exitbutton{
  position: relative;
  justify-content: center;
  align-content: center;
  display: flex;
  width: 40px;
  height: 40px;
  bottom: 50px;
  left: 45rem;
}