.login-container{
    position: relative;
    width: 22.2rem;
    
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0 , 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    padding: 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-container h1{
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

.login-container form input {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 14.5px;
    width: 90%;
    justify-content: center;
    margin-bottom: 2rem;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.login-links{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.login-container label{
    position: relative;
    right: 120px;
    top: 10px;
    background-color: #242424;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    z-index: 999;
}

@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}


.exitbutton{
    position: relative;
    top: -25px;
    left: 230px;
    border: none;
    padding: 0px;
    background-color: #242424;
    font-size: 24px;
    z-index: 999;
}

.addexitbutton{
    position: relative;
    top: -25px;
    left: 190px;
    border: none;
    padding: 0px;
    background-color: #242424;
    font-size: 24px;
    z-index: 999;
}